<hr style="border:0;height:0;border-top:1px solid rgba(0,0,0,0.1);border-bottom:1px solid rgba(255,255,255,0.3);" />

<center>
    <p style="color:green; font-size:14px; line-height:0em">
        <b><i>“No matter what your dream is, you have to dedicate yourself entirely to it” - Ayrton Senna<i></b></p>
    <!-- <br/> -->
    <!-- <p style="font-size:13px;">
        &mdash;&mdash; Yoda &mdash;&mdash; -->
        <!-- <span style="padding-left:100px"><b>Yoda</b>. <cite>The Empire Strikes Back.</cite> 1980 </span> -->
    </p>

    <br/>
</center>
