<head>
    <link rel="stylesheet" href="/css/gallery.css">
</head>


<div class="gallery">
    <div class="row3">
        <img class="col1" src="/assets/photo/4.png" style="cursor:pointer" onclick="onClick(this)" class="w3-hover-opacity">
        <img class="col1" src="/assets/photo/13.jpg" style="cursor:pointer" onclick="onClick(this)" class="w3-hover-opacity">
        <img class="col1" src="/assets/photo/6.jpg" style="cursor:pointer" onclick="onClick(this)" class="w3-hover-opacity">
    </div>
    <div class="row3">
        <img class="col1" src="/assets/photo/7.jpg" style="cursor:pointer" onclick="onClick(this)" class="w3-hover-opacity">
        <img class="col1" src="/assets/photo/2.png" style="cursor:pointer" onclick="onClick(this)" class="w3-hover-opacity">
        <img class="col1" src="/assets/photo/16.jpeg" style="cursor:pointer" onclick="onClick(this)" class="w3-hover-opacity">
    </div>
    <div class="row3">
        <img class="col1" src="/assets/photo/5.png" style="cursor:pointer" onclick="onClick(this)" class="w3-hover-opacity">
        <img class="col1" src="/assets/photo/14.jpg" style="cursor:pointer" onclick="onClick(this)" class="w3-hover-opacity">
        <img class="col1" src="/assets/photo/15.jpg" style="cursor:pointer" onclick="onClick(this)" class="w3-hover-opacity">
    </div>
</div>